#background
{
	background-image: url("../images/stone_bricks.png");
}

#title_border
{
	width: fit-content;
	height: fit-content;
	margin: auto;
	background-image: url("../images/spruce_log.png");
	float: center;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#title_box
{
	display: table;
	width: fit-content;
	height: fit-content;
	margin: auto;
	padding: 20px;
	text-align: center;
	background-image: url("../images/spruce_planks.png");
	float: center;
}

#title
{
    font-size: 80px;
    width: 100%;
	float: center;
    margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
    text-align: center;
    font-family: 'MinecraftiaRegular', sans-serif;
    color: #FFFFFF;
}

#creeperFace
{
    width: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	display: block;
}

.textBlockDiv
{
	width: 70%;
	height: 140px;
	text-align: right;
	margin-right: auto;
	margin-left: auto;
}

.dlabel
{
	font-size: 11px;
	float: right;
    margin: 0px 0px;
    font-family: 'MinecraftiaRegular', sans-serif;
    color: #000000;
}
.eText
{
	font-size: 10px;
    margin: 2% 5%;
    font-family: 'MinecraftiaRegular', sans-serif;
    color: #000000;
}
.row
{
	content: "";
	display: table;
	width: 100%;
	clear: both;
}

.column
{
	content:"";
	float: left;
	width: 50%;
	display: table;
	height: 300px;
}

.break
{
	width: 10%;
	float: left;
	height: 300px;
}

.subcolumn
{
	width: 80%;
	height: 300px;
	margin: auto;
}

.sign
{
	width: 500px;
	height: 300px;
	margin: auto;
	border: #000000;
	background-image: url("../images/spruce_planks.png");
	text-align: center;
}

.sign_border
{
	width: fit-content;
	height: fit-content;
	margin: auto;
	background-image: url("../images/spruce_log.png");
	float: center;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#loginHeading
{
    font-size: 35px;
    width: 100%;
	height: 20%;
	margin-top: 0px;
	margin-bottom: 0px;
    text-align: center;
    font-family: 'MinecraftiaRegular', sans-serif;
    color: #FFFFFF;
}

#registerHeading
{
    font-size: 35px;
    width: 100%;
	height: 20%;
	margin-top: 0px;
	margin-bottom: 0px;
    text-align: center;
    font-family: 'MinecraftiaRegular', sans-serif;
    color: #FFFFFF;
}

#input_text
{
	display: inline-block;
	text-align: center;
	height: fit-content;
	width: 100%;
	margin-bottom: 10px;
}

#input_label 
{
	float: left;
    font-size: 15px;
    width: fit-content;
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
    text-align: center;
    font-family: 'MinecraftiaRegular', sans-serif;
    color: #FFFFFF;
}

#button{
    font-size: 20px;
    text-align: left;
    font-family: 'MinecraftiaRegular', sans-serif;
    color: #FFFFFF;
    background-color: #3B2713;
}

.buttons:hover{
    opacity: 85%;
}
